---
import BaseHead from "../components/base/BaseHead.astro";
import ContactForm from "../components/widgets/ContactForm.astro";
import Footer from "../components/base/Footer.astro";
import Navigation from "../components/base/Navigation.astro";
import HeroSubpage from "../components/widgets/HeroSubpage.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { imageProvider } from "../provider/imageProvider";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const heroImageUrl =
  typeof imageProvider.hero.headerBackground.src === "object"
    ? imageProvider.hero.headerBackground.src.src
    : imageProvider.hero.headerBackground.src;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} lang={lang} />
  </head>
  <body>
    <div class="relative">
      <Navigation />
      <main>
        <HeroSubpage
          title={t("hero.anfrage.title")}
          description={t("hero.anfrage.description")}
          imageUrl={heroImageUrl}
        />
        <ContactForm theme="light" />
      </main>
      <Footer />
    </div>
  </body>
</html>
